
.project-pic-height{
    height: 75%;
    width: auto;
}

.project-pic-width{
    height: auto;
    width: 75%;
}

.size{
    height: 90%;
    width: 50%;
}

.project h1{
    height: 10%;
}

.project .description{
    flex-direction: column;
}

.project .description h2{
    font-size: 2.5vmin;
    padding: 1rem;
}

.project .description a{
    font-size: 4vmin;
    font-weight: 900;
}

.project .pic-wrapper{
    flex-wrap: wrap;
    justify-content: space-between;
}

.project .pic-wrapper .pic{
    width: 45%;
    height: 45%;
}