
.app-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.app header{
  height: 20vh;
}

.app .carousel-wrapper{
  height: 25vh;
}

.app .carousel-wrapper .carousel{
  height: 100%;
  width: min( 90%, 1600px, 90vw );
}

.app .project-wrapper{
  height: 55vh;
}