*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  background: linear-gradient( 145deg, #6b98cc, #112b5e, #001434);
  font-family: 'Mukta', sans-serif;
  color: white;
}

h1, h2, h3, h4, h5, h6, p{
  font-weight: 100;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: white;
}

button{
  cursor: pointer;
  font-family: 'Mukta', sans-serif;
}
